<div>
    <p>Congratulations, you have adopted the Universal Confidentiality Agreement on Trustlayer.</p>
    <p>To activate it with anyone, give them this link to confirm their adoption:</p>
    <p><a href="ADOPTION_LINK" target="_blank">ADOPTION_LINK</a></p>
    <p>Visit this link yourself to see or revoke your adoption:</p>
    <p><a href="USER_LINK" target="_blank">USER_LINK</a></p>
    <p>For help, contact <a href="mailto:support@trustbot.io" target="_blank">support@trustbot.io</a>.</p>
</div>