<div>
    <p>You and OTHER_EMAIL have confirmed the Universal Mutual Confidentiality Agreement.</p>
    <p>Follow this link to see your agreement:</p>
    <p><a href="AGREEMENT_LINK" target="_blank">AGREEMENT_LINK</a></p>
    <p>Please note that confidential information is protected under this agreement when marked or titled “Confidential,” or if delivered orally, when separately identified in writing to be confidential.</p>
    <p>For help, contact <a href="mailto:support@trustbot.io" target="_blank">support@trustbot.io</a>.</p>
</div>