<div>
    <p>You have revoked your confirmation of a Universal Mutual Confidentiality Agreement on Trustlayer</p>
    <p>Follow this link to see your revocation, or to re-adopt the agreement:</p>
    <p><a href="USER_LINK">USER_LINK</a></p>
    <p>This does not revoke or affect any agreements previously activated through your adoption. Consult with your legal counsel if you need to terminate those continuing obligations.</p>
    <p>For help, contact <a href="mailto:support@trustbot.io" target="_blank">support@trustbot.io</a>.</p>
</div>